@import "tailwindcss";

::selection {
    background-color: #218448;
    color: #fff;
}


/* remove tailwind */
.no-tailwind,
.no-tailwind * {
    all: unset;
    display: revert;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

.no-tailwind {
    all: revert;
    font-size: 16px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #333;
}

.no-tailwind h1,
.no-tailwind h2,
.no-tailwind h3,
.no-tailwind p {
    all: revert;
    margin-bottom: 1em;
    line-height: 1.4;
}

.no-tailwind ul,
.no-tailwind ol {
    list-style: revert;
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.no-tailwind table {
    all: revert;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.no-tailwind th,
.no-tailwind td {
    all: revert;
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}
